@font-face {
    font-family: 'Crimson Text';
    src: url('../CrimsonText-BoldItalic.eot');
    src: url('../CrimsonText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../CrimsonText-BoldItalic.woff2') format('woff2'),
        url('../CrimsonText-BoldItalic.woff') format('woff'),
        url('../CrimsonText-BoldItalic.svg#CrimsonText-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}